*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f69a73;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
}

input {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: #e9eff6;
  color: #707981;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  color: black;
}
.btn {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  width: 10%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 4px solid #d87d56;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
#total {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 300px;
  height: 200px;
  background-color: #e9eff6;
  font-size: 18px;
  border-radius: 20px;
}
